LOG_LEVEL=INFO
MONGODB_URL=mongodb://{{cookiecutter.db_host}}/{{cookiecutter.db_name}}
MONGODB_DBNAME={{cookiecutter.db_name}}
MAX_CONNECTIONS_COUNT={{cookiecutter.db_max_conn_count}}
MIN_CONNECTIONS_COUNT={{cookiecutter.db_min_conn_count}}
